* {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
.imagenesD{
  height: 265px; 
  width: 182px; 
  padding: 7px;
}
.imagenesA:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.564);
  padding: 5px;

}
.resultado1{
  text-align: center;
  
}
.resultado2{
  text-align: center;
 
}
.form-group{
    background-color: transparent;
}
.buscador1{
    background-color: #af6c6ee1;
    width: fit-content;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1%;
    align-items: center;
    justify-content: center;
}
.rotulosB{
    font-size: 2.4rem;
      color: black;
      text-align: center;
      display: block;
      background-color: #d4b7b0ee;
      width: fit-content;
      padding: 15px
}
.rotulosC{
  display: none;

}
.rotulosD{
  display: none;
}


select{
 font-weight: 600;
 text-transform: uppercase;
 padding: 3px;
 background-color:rgb(215, 194, 188);
 text-align: center; 
 
 

}
.despegableGen{
 font-weight: 600;
 text-transform: uppercase;
 padding: 3px;
 background-color:rgb(215, 194, 188);
 text-align: center; 
 

}

.favo2{
    margin-top: 4px;
    height: 2rem;
    width:fit-content;
    text-indent:0;
    display:block;
    color:#000000;
    background-color: var(--main-bg-color);
    text-decoration:none;
    text-align:center;
    background-color:rgb(215, 194, 188);
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 560;
    font-size: 1.2rem;
    padding-right: 2px;
    

  }
  
  .favo2 :active {
    position: relative; 
    bottom: 2px;
    font-weight: 900;
  }


  @media (max-width:420px){
    .rotulosB{
      margin-top: 50px;
    }


  }