* {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

.imagenesA{
  max-height: 270px;
  min-height: 270px;
  width: auto;
  text-align: center;
  justify-content: center;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  min-width: 182.4px;
  padding: 1%;
}
.imagenesA:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.564);
  padding: 5px;

}


.form-group{
    background-color: transparent;
}
.buscador1{
    background-color: #af6c6ee1;
    width: fit-content;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1%;
    align-items: center;
    justify-content: center;
}
.rotulosB{
    font-size: 2.4rem;
      color: black;
      text-align: center;
      display: block;
      background-color: #d4b7b0ee;
      width: fit-content;
      padding: 15px
}
.rotulosC{
  display: none;

}
.rotulosD{
  display: none;
}


select{
 font-weight: 600;
 text-transform: uppercase;
 padding: 3px;
 background-color:rgb(215, 194, 188);
 text-align: center; 
 
 

}
.despegableGen{
 font-weight: 600;
 text-transform: uppercase;
 padding: 3px;
 background-color:rgb(215, 194, 188);
 text-align: center; 
 

}

.favo2{
    margin-top: 4px;
    height: 2rem;
    width:fit-content;
    text-indent:0;
    display:block;
    color:#000000;
    background-color: var(--main-bg-color);
    text-decoration:none;
    text-align:center;
    background-color:rgb(215, 194, 188);
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 560;
    font-size: 1.2rem;
    padding-right: 2px;
    

  }
  
  .favo2 :active {
    position: relative; 
    bottom: 2px;
    font-weight: 900;
  }
/*spinner carga*/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




  @media (max-width:420px){
    .rotulosB{
      margin-top: 50px;
    }


  }