* {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
.footer {
    display: flex;
    /*background-color: #652A42;*/
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10%;
    justify-content: center;
    margin-top: 1%;
}
.sectionFooter {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.sectionFooter article{
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;
}
.titulo2{
    font-size: 100%;
    text-decoration: none;
}
.titulo3{
    margin-right: 15px;
    padding-bottom: 10px;
}
.redes{
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
    width: 50%;
}
.redes a{ 
    color: black;
}
.sectionFooter :hover {
    background-color: rgba(0, 0, 0, 0.842);
    color: rgb(215, 194, 188);
    border-radius: 2px;
    padding: 6px;
    align-self: center;
    
}
/*RESOLVER ASAP*/
.logoTmdb :hover{
    background-color: initial;
    color: initial;
    border-radius: 0px;
    padding: 0px;
    align-self: center;
    
}
@media (max-width:420px) {
    .sectionFooter {
        flex-direction: column;
        justify-content:  center;
        text-align: center;
    }
    }
    .footer{
        align-content: center;
        flex-direction: column;
        
    }
    .redes .titulo3 {
        
        justify-content: center;
        margin: 0 auto;
    }
    .logoTmdb{
        width: 50% ;
        text-align: center;
    }




