* {
    font-family: 'Roboto', sans-serif;
}
.footer {
    display: flex;
    background-color: #985D5E;
    bottom: 0;
    width: 100%;
    height: 10%;
    justify-content: center;
    margin-top: 1%;
}
.sectionFooter {
    display: flex;
    flex-direction: row;
    width: 50%;
    
    
   
}
.sectionFooter article{
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;
    

}
.titulo2{
    font-size: 100%;
    


}
.titulo3{
    align-items: flex-end;
}
.redes{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    margin-top: 1%;
    width: 50%;
}
.redes a{ 
    color: black;
    
}