

.gSegun {
    display: grid;
}

.gCinema {
    display: grid;
}

.tiempo {
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr;
    gap: 1%;
    justify-content: space-around;
    align-items: center;
}

.sonoras {
    display: grid;
    grid-column: 1fr 1fr;
    gap: 1%;
    justify-content: space-around;
    align-items: left;
}

.color {
 display: grid;
 grid-column: 1fr 1fr;
 gap: 1%;
 justify-content: space-around;
 align-items:right;
 
}

.color1 {
    height: 50%;
  
}