*{
 box-sizing: border-box; 
 padding: 0;
 margin: 0 auto;
font-family: 'Lato', sans-serif;
letter-spacing: 2px;
}
.listadoGeneros{
  margin-top: 20%;
  margin-left: 20%;
}
.generos {
 width: 100%;
 padding: 20px;
}
.nombreGenero{
margin-top: 10%;
}
.imagenesC :hover{
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.564);
  padding: 5px;

}

.gen{
  text-decoration: none;
  
}

.dropdown {
 position: relative; 
 display: inline-block;
 text-align: center;
 font-size: 1.2rem;
 
}

.dropdown-content {
 display: none;
 overflow:auto; 
 text-transform: uppercase;
 padding: 3px;
 background-color: #652a42;
 position: fixed;
 text-align: left;
 margin-left: 2px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
 
}
.dropdown:hover .dropdown-content {
 display: block;
 width: fit-content;
 letter-spacing: 2px;
 align-self: flex-start;
 
 
}
.dropdown-content:hover .gen :hover{
  color: rgb(215, 194, 188);
  background-color: rgba(0, 0, 0, 0.507);
 

}
.dropdown1 {
 position: relative; 
 display: inline-block; 
 text-align: center;
 text-transform: uppercase;
 }
 .dropdown1:hover {
 background-color:#D6B8B2;
 z-index: 0;
 }
 .dropdown1-content {
 display: none;
 bottom: 20px;
 widows: 100%;
 overflow:auto;
 padding: 2px 4px;
 z-index: 1;
 text-transform: none;
 background-color:#D6B8B2 ;
 }
.dropdown1-content .textoG {
 font-weight: lighter;
 color:rgb(0, 0, 0); 
 }
 .dropdown1:hover .dropdown1-content {
 display: block;
 }
 .comprensivo{
  z-index: 1; /*para que lo lea ultimo, sino no funciona bien el header*/
}

 @media (max-width:420px) {
  .dropdown{
    font-size: inherit;
  
  }
  .dropdown-content  {
    font-size: 0.9rem;
    background-color: #652a42;
  
  }
  .dropdown:hover {
    background-color:rgba(0, 0, 0, 0.397);;
  }
  .tP2{
    padding-left: 2px;
  }
 .apartado1 {
  display: none;
 }
.tipoEje{
 display: none;
}
 .apartado2 {
 grid-template-columns: 1fr 1fr 1fr;
 margin-bottom: 10%;

 }
 .apartado3 {
 grid-template-columns: 1fr 1fr 1fr;
 }
 .ejeTitulo {
 margin-top: 35%;
 font-size: 1.2rem;
 color: black;
 }
 .belicas {
 display: none;
 }
.tP1 {
  font-size: 0.6rem;
}


}