* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
            
}
/*.body {
    background-image:linear-gradient(#652A42,#8E5358) ; 
}*/
.generos {
    width: 100%;
    padding: 20px;
    
}

.ejeTitulo {
    font-size: 2em;
    font-style: oblique;
    text-align: center;
    
}
.tipoEje h2 {
    padding-top: 5px;
    text-align: center;
    font-size: 1em;
}
.apartado1 {
    align-content: center;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
   
}
.tP1 {
    text-align: center;
    align-items: center;
    align-self: center;
    font-weight: lighter;
    font-size: 0.5em;
    
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    
    
}
.dropdown:hover {
    background-color: rgb(0, 0, 0);
    z-index: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    /*background-image:linear-gradient(#985D5E, #652A42);*/
    widows: 100%;
    overflow:auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.26);
    padding: 2px 4px;
    z-index: 1;
    text-transform: none;
    
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.textoG {
font-weight: lighter;
color:rgb(215, 194, 188); 

}

.imgrecomendadas {
    display: flex;
    margin: 0.2em;

}
.imgreco {
    padding: 5px;
    width: 100%;
   
    
}

.apartado2 {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
padding: 4px 0px 10px 0px;

}
.apartado3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 4px 0px 10px 0px;
    }

.sugg {
    text-transform: none;
    font-weight: 0.3em;
    font-style: italic;
}
.sugerencias {
    font-weight: 0.3em;
    font-style: italic;
}

.dropup {
    
 position: relative;
 display: inline-block;
 text-align: center;
 text-transform: uppercase;
        
        
 }
 .tp2 {
     color:rgb(215, 194, 188);
     z-index: 1;
     padding-top: 5px;
 }
    .dropup:hover {
       background-color: rgba(255, 255, 255, 0.589);
       z-index: 1;
    }
    .dropup-content {
        display: none;
        position: absolute;
        
        /*background-image:linear-gradient(#652A42, #985D5E);*/
        bottom: 20px;
        widows: 100%;
        overflow:auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.26);
        padding: 2px 4px;
        z-index: 1;
        text-transform: none;
        
        
    }
    
    .dropup:hover .dropup-content {
        display: block;
    }


    @media (max-width:507px) {
        #sciFi {
            font-size: 0.8rem;
            
        }

    @media (max-width:420px) {
        /* help no logro que la segunda linea se me centre*/
        .apartado1 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-content: center;
            padding: 1%;
            
        }
        .apartado2 {
            grid-template-columns: 1fr 1fr 1fr;
            
                        
            
        }
        .apartado3 {
            grid-template-columns: 1fr 1fr 1fr;
            

        }
     
        .ejeTitulo {
            font-size: 1.5em;
       

    }
   
    .belicas {
        display: none;
    }

    }
}