* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    font-size: large;
    line-height: 1,5;
    color: black;
    overflow-x: hidden;
}
.header {
    height: 100%;
    display: flex;
    align-items: center;
    color: black;

}
.content {
    max-width: 100vw;
   
    text-align: center;
}
.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    overflow: hidden;

}
.header-video video {
    width: 50%;

}

.header-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: brown;
    z-index: 1;
    opacity: .27;


}
.header-content {
    z-index: 2;

}
.header-content h2 {
font-size: 25px;
margin-bottom: 0;
}
.btn {
   
   color: rgb(189, 103, 45);
   font-size: 1,2rem;
   padding: 1rem;
   text-decoration: none;
}
/*
.gSegun {
    display: grid;
}

.gCinema {
    display: grid;
}

.tiempo {
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr;
    gap: 1%;
    justify-content: space-around;
    align-items: center;
}

.sonoras {
    display: grid;
    grid-column: 1fr 1fr;
    gap: 1%;
    justify-content: space-around;
    align-items: left;
}

.color {
 display: grid;
 grid-column: 1fr 1fr;
 gap: 1%;
 justify-content: space-around;
 align-items:right;
 
}

.color1 {
    height: 50%;
  
}*/