*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
}
body {
    width: 100%;
}
img {
    width: 100%;
}
.divLogo {
    width: 7%;
}
.comprensivo{
    position: fixed;
    top:0;
    background-color: #572336;
}
.sectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.sectionHeader article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    padding: 1% ;
    margin-right: 3%;
    flex-wrap: wrap;
}
.hrefHeader {
    font-size: 110%;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    margin: auto ;
    text-decoration: none;
    color:rgb(215, 194, 188);
    
}
.hrefHeader1{
    font-size: 110%;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    margin: auto ;
    text-decoration: none;
    color:rgb(215, 194, 188);   
}
.sectionHeader .hrefHeader:hover {
    
    color: black;
    padding: 6px;
    border-radius: 2px;
    background-color: #D4B7B0;
    font-weight: 610;
}
.form{
    font-size: 110%;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    margin: auto ;
    text-decoration: none;
    color:rgb(215, 194, 188);
}
.titulo {
    font-size: 110%;
    font-weight: bolder;
}
.titulo1{
    font-size: 110%;
    font-weight: bolder;
    margin-left: 6%;
}
a {
    color: black;
   justify-content: center;
}
.buscador{
    color: black;
    padding: 1px;
    border-color:rgb(0, 0, 0);
    border-width:1px;
    border-bottom-style: hidden;
    height: 2em;
    background-color:rgb(215, 194, 188);
    font-size: 1rem;
}
.botonBuscar{
    width: fit-content;
    border-width:1px;
    
    border-radius: 2px;
    border-bottom-style: hidden;
    padding-left: 3px;
    padding-right: 2px;
    margin-left: 5px;
    background-color:rgb(215, 194, 188);

}
@media (max-width:420px) {
    .divLogo{
        width: 40%;
    }
    .sectionHeader {
        flex-direction: column;
        width: 50%;
        font-size: 70%;
        justify-content: center;
    }
    .lupa {
        align-items: center;
    }
    .buscador{
      display: none;
  }
    .titulos1{
      margin-top: 12%;
  }
} 


/*buscador*/


.imagenes{
    width: 10%;
}

.resultadosB{
    margin-top: 9%;
    text-align: center;
    
}

.resultBNombres{
    margin-top: 1px;
    display: flex;
    padding: 3px    ;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    align-content: flex-start;
    text-transform: uppercase;
    background-color: rgba(215, 194, 188, 0.658);
    width: 43ex;
    
}
.resultBNombres:hover{
    color: rgb(215, 194, 188);
  background-color: rgba(0, 0, 0, 0.507);
}
a{
    text-decoration: none;
}
.rotulosS{
    color: black;
    margin-top: 100px;
    font-size: 20px;
    padding-bottom: 25px;
    text-align: center;
}
.aqui{
    font-weight: 900;
    font-style: italic;
}