*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #652A42;
    width: 100%;
    
}
img {
    width:  100%;
}

.divLogo {
    width: 7%;
    
    
}
.comprensivo {
    background-color: #985D5E;
    position: fixed;
   border-collapse: separate;
    
    
    

}
.sectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
   
}
.sectionHeader article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    padding: 1% ;
    margin-right: 3%;
    flex-wrap: wrap;
    
    

}
.hrefHeader {
    font-size: 110%;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    margin: auto ;
    text-decoration: none;
    
    
}
.titulo {
    font-size: 110%;
    font-weight: bolder;
    
}


.titulo1{
    font-size: 110%;
    font-weight: bolder;
    margin-left: 6%;
    

}
a {
    color: black;
   justify-content: center;
}
.buscador{
    color: #b6b6b6;
    border-color:rgb(0, 0, 0);
    border-width:1px;
    border-bottom-style: hidden;
    height: 2em;
}
    