body {
    background-color: #562438;
}
#logo {
    width: 5%;
    height: 5%;
    
    padding: 1% 2% 1% 1%;
}
.comprensivo {
    background-color: #7E4E4F;
    position: fixed;

}
.sectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
   
}
.sectionHeader article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    padding: 1% ;
    margin-right: 3%;
    flex-wrap: wrap;
    

}
.titulo{
    font-size: 110%;
    font-weight: bolder;


}
.titulo1{
    font-size: 110%;
    font-weight: bolder;
    margin-left: 6%;

}
