*{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: oblique;
    border-radius: 3px;
    
}
body {
    background-image: url(../img/pruebasBackground/\ \ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   
    
    
    
}
img{
    width: 100%;
}
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    justify-content: center;
}
.banners1 {
    margin-top: 5px;
    width: 50%;
    
   
}
.banners2 { 
    margin-top: 5px;
    width: 50%;
}
h1 {
    color: black;
}
.mejoresPuntuadas{
    display: flex;
    
    /*probar <animation> y que roten así*/
    
}
.enTendencia{
    display: flex;
    
}
.añadidasRecientemente{
    display: flex;
    
}
.imgTendencia{
    display: flex;

}
.imagenes{
    padding: 5px;
    width: 100%;
    
}
.imagenesBanner{
    padding: 5px;
    width: 100%;
}
.imagenes1{
    padding: 5px;
    width: 100%;

}
    
.titulos{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
 /*        Media Query mobile */

@media (max-width:420px) {
    .banner {
        flex-direction: row-reverse;
        width: 100%;
    }
    .imagenes1{
     width: 50%;
    }
    .mejoresPuntuadas {
        display: flex;
        flex-wrap: wrap;
    }
    .imagenes {
      display: none;
    }
    .no {
        display: none;
    }
    .imgTendencia {
        display: flex;
        flex-wrap: wrap;
    }
    .añadidasRecientemente {
        display: flex;
        flex-wrap: wrap;
       
    }
    
}
/*        Media Query Tablet
@media (min-width:420px) {
    .banner {
        flex-direction: row-reverse;
        width: 100%;
    }
    .imagenes1{
        width: 40%;
    }
    .mejoresPuntuadas {
        display: flex;
        flex-wrap: wrap;
    }
    .no{
        display: none;
    }
}*/
