* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: oblique;
  border-radius: 3px;
}
img {
  width: 100%;
}
.box {
  text-align: start;
}
#bodyId {
  text-align: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  margin: 0 0;
}
.divLogo {
  width: 7%;
  align-content: center;
    
}

.formularioIS input{
  display: flex;
  flex-direction: column;
    width: 20%;
    padding: 1%;
    margin: 0,1;
    border-radius: 3px;
    margin-bottom: 15px;

  }
  .formularioIS{
    border-bottom: #652A42;
      
  } 
  
  .formularios {
    
    padding: 5%;
    
  
  }
  .r2 {
    color:  #070606;
    font-weight: bolder;
    text-decoration: none;
    text-align: right;

    
  }
  .cuentaNo {
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
      
       
    }
  .sociales span {
    text-align: center; 
    font-size: .9em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .social{
       
    margin-top: 12px;
    text-indent:0;
    display:block;
    color:#000000;
    height:50px;
    line-height:50px;
    width: 100%;
    text-decoration:none;
    text-align:center;
  }
  .social :hover{
    color: rgb(215, 194, 188);
  }
  .rU {
   
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    padding: 6px;
    color: black;
  
  
  }
  
  .fblogin {   
    background-color: inherit;
    border: 2px solid black;
    border-radius: 3px;
    width: 20%;
    justify-content: center;
    text-align: center;

   
  }
  .fblogin:hover {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    border-radius: 3px;
    

  }
 
  .goologin {  
    background-color: inherit;
    border: 2px solid black;
    border-radius: 3px;
    width: 20%;
    justify-content: center;
    text-align: center;
    
  }
  .goologin:hover {
    background-color: rgba(0, 0, 0, 0.438);
    color:white;
    border-radius: 3px;
    
  }
 
  .twlogin { 
    background-color: inherit;
    border: 2px solid black;
    border-radius: 3px;
    width: 20%;
    justify-content: center;
    text-align: center;
     
  }
  .twlogin:hover {
    background-color: rgba(0, 0, 0, 0.438);
    color:white;
    border-radius: 3px;
    
  }
 
  .registra2 a {
    position: relative;
    color: #b6b6b6;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5px;
    float: right;
    margin-top:5px;
  }
  .irA { 
    position: relative; 
    top: -10px;
  }
  .irA h3{
    margin-bottom: 10px;
    font-size: larger;
    color: white;
  }
  .sociales a:hover{
    text-decoration: none;
    color: black;
  }
 
  .irA a {
  text-decoration: none;
  }

  
main {
height: fit-content;
}

.botonIS {
  background-color: white;
    border: 2px solid black;
    width: 15%;
    justify-content: center;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 1.1em;
    
}

.botonIs :active {
  position: relative; 
  bottom: 3px;
}

@media (max-width:420px){
  .botonIS{
    width: 50%;
    
  }
  .social{
    width: 60%;
  }
  .formularioIS input{
      width: 50%;

    }

}
/*hola!*/