* {
  font-family: 'Roboto', sans-serif;
}
img {
  width: 100%;
}
#bodyId {
  text-align: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  margin: 0 0;
}
.divLogo {
  width: 7%;
  align-content: center;
    
}
.volver {
  color: #000000;
  font-weight: bolder;
  
}

.registrarse{
        
        background-color: #652A42;
        
}

.formularioIS input{
    width: 30%;
    padding: 1%;
    margin: 0,1;
    border-radius: 0;
    margin-bottom: 15px;

  }
  .formularioIS{
    border-bottom: #652A42;
  
    
        
  } 
  .formularios {
    background-color: rgba(170, 107, 126, 0.61);
    padding: 5%;
    margin: 0 auto;
    margin-top: auto;
  }
  .r2 {
    color:  #070606;
    font-weight: bolder;
    text-decoration: none;
    text-align: right;
    
    
  }
  .sociales {
    padding: 2em;
    margin: 0.6em 0;
    margin-top: 1%; 
    
  }
  .cuenaNo {
    color:  #985D5E;
    text-decoration: none;
    
     
  }
  .sociales span {
    text-align: center; 
    font-size: .9em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .social{
       
    margin-top: 12px;
    text-indent:0;
    display:block;
    color:#000000;
    height:50px;
    line-height:50px;
    width: 100%;
    text-decoration:none;
    text-align:center;
  }
  
  .fblogin {   
    background-color:#985D5E;
    width: 30%;
   
  }
  .fblogin:hover {
    background-color: #985D5E;
  }
  .fblogin:active {
    position:relative;
    top:2px;
  }
  .goologin {  
    background-color: #985D5E; 
    width: 30%;
  }
  .goologin:hover {
    background-color: #985D5E;
  }
  .goologin:active {
    position:relative;
    top:2px;
  }
  .twlogin { 
    background-color: #985D5E; 
    width: 30%; 
  }
  .twlogin:hover {
    background-color:#985D5E;
  }
  .twlogin:active {
    position:relative;
    top:2px;
  }
  
 
  .registra2 a {
    position: relative;
    color: #b6b6b6;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5px;
    float: right;
    margin-top:5px;
  }
  .irA { 
    position: relative; 
    top: -10px;
  }
  .irA h3{
    color: #000000;
  }
  .sociales a:hover{
    text-decoration: none;
    color: black;
  }
 
  .irA a {
  text-decoration: none;
  }

  
main {
height: fit-content;
}

  
        /*        Media Query

  @media screen  and (min-width: 1400px) {
  .signform { width: 680px; left: 25%; }
  }
  
  
  @media screen  and (max-width: 1400px) and (min-width: 1230px) {
  .signform { width: 50%; left: 25%; }
  }
  
  @media screen  and (max-width: 1230px) and (min-width: 1000px) {
  .signform { width: 60%; left: 15%; }
  }
  
  @media screen  and (max-width: 1000px) and (min-width: 900px) {
  .signform { width: 70%; left: 10%; }
  }
  
  @media screen  and (max-width: 900px) and (min-width: 750px) {
  .signform { width: 80%; left: 8%; }
  }
  
  @media screen  and (max-width: 750px) and (min-width: 640px) {
  .signform { width: 90%; 
    left: 1%; 
    }
  }
  
  @media screen  and (min-width: 640px) {
   
    .registra2 {
    width: 40%;
    display: inline-table;
    margin-left: 50px; 
    }
  }
  
  @media screen  and (max-width: 640px) {
    
    .registra2 {
      width: 85%;
      display: inline-table;
      margin-left: 20px;  
    }
    .signform { 
      width: 50%;
      min-width:255px;
    }
    form#formularioIS:before {
      content: ''; 
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
     
  }
    form#formularioIS:after {
      content: '';
      position: absolute;   
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      height:0em;
      width: 0em;
      left: 0em;
      top: 0em;
      
    }
  }
  @media screen  and (max-width: 1500px) and (min-width: 650px) {
  form#formularioIS::before {
      content: 'or';
      color: #79b42b;
      position: absolute;   
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      height: 0.5em;
      width: 0.5em;
      left: 1.5em;
      top: 4.2em;
      z-index: 900;
    }
    form#formularioIS::after {
      content: '';
      position: absolute;
      background: rgba(128, 128, 128, 0.3);
      top: 0;
      right: 0;
      left: 0;
      bottom: 15px;
      margin: auto;
      height: 3.25em;
      width: 0.1em;
      left: 2.15em;
      top: -2.8em;
      -moz-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
      -webkit-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
      box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
  }
  }
  @media screen  and (max-width: 640px) and (min-width: 460px) {
  .signform { 
    left: 25%;
     }
  }
  @media screen  and (max-width: 460px) and (min-width: 400px) {
    .signform {
     left: 20%; 
    }
  }
  @media screen  and (max-width: 400px) and (min-width: 320px) {
    .signform {
     left: 10%; 
    }
  }
  @media screen  and (max-width: 320px) {
    .signform {
     left: 1%;
      }
  }
  .sociales i{ 
      margin: 15px 15px 15px 20px;
      float: left;
      width: 5%;
      font-size: 20px;
      margin-left: 20px;
  }

  */