*{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: oblique;
    border-radius: 3px;
}
body {
    background-image: url(../img/pruebasBackground/7E4E4F\ \(1\).gif);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width: 100%;
}
.slider{
    width: 95%;
    display: block;
    margin: auto;
    overflow: hidden;
    margin-top: 10%;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 18s infinite;
}
.slider li{
    width: 100%;
    list-style: none;
}
@keyframes cambio {
    0% {margin-left: 0; }
    15% { margin-left: 0;}

    20% { margin-left: -100%;}
    35% { margin-left: -100%;}

    45% { margin-left: -200%;}
    60% { margin-left: -200%;}

    70% { margin-left: -300%;}
    85% { margin-left: -300%;}

    90% { margin-left: -400;}
    100% {margin-left: -400;}
}
h2 {
    color: black;
    margin-top: 150px;
    font-size: 50px;

}
.mejoresPuntuadas{
    display: flex;
    flex-wrap:wrap;
}
.enTendencia{
    display: flex;
    
}
.añadidasRecientemente{
    display: flex;
}
.imgTendencia{
    display: flex;
}
.imagenes{
    padding: 5px;
    width: 100%;
}
.imagenesBanner{
    padding: 5px;
    width: 100%;
}
.imagenesBanner1{
    padding: 5px;
    width: 100%;
}
.imagenes1{
    padding: 5px;
    width: 300px;
    margin-top: 10%;
}    
.titulos{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
 /*        Media Query mobile */

@media (max-width:420px) {
   
    .imagenes1{
     width: 50%;
    }
    .mejoresPuntuadas {
        display: flex;
        flex-wrap: wrap;
    }
    .imagenes {
      display: none;
    }
    .no {
        display: none;
    }
    .imgTendencia {
        display: flex;
        flex-wrap: wrap;
    }
    .añadidasRecientemente {
        display: flex;
        flex-wrap: wrap;  
    }
    .slider {
       margin-top: 40%;
       width: 100%;
    }
    .imagenesBanner{
        padding: 5px;
        width: 100%;
        margin-right: 20%;
    }
    .slider ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 18s infinite;
    }
    .slider li{
        width: 100%;
        list-style: none;
    }
    @keyframes cambio {
        0% {margin-left: 0; }
        15% { margin-left: 0;}
    
        20% { margin-left: -100%;}
        35% { margin-left: -100%;}
}
 }