 *{
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
.imagenesD{
    height: 265px; 
    width: auto; 
}
img{
    width: 100%;
}

.info{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
    background-color:  #d5b8b1ab;
    height: 400px;
}
.poster {
    width: 20%;
}
.titulo{
    font-size: 2rem;
    text-align: center;
    padding: 5px;
}
.detalles{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
    
}
.descripcion{
    justify-content: center;
    max-width: 650px;
    padding: 5px;

}
.video{
    margin-top: 50px;
    text-align: center;
    
}
.seriesReco {
    display: flex;
    width: 100%;
    
}
.infoReco {
    margin: 10px;
}
.slider {
    width: 95%;
    
}
.sliderItem {
    margin:10px;
}
.rotulosR{
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 20px;
}
.atp{
    padding: 6px;
}
/*boton fav*/
.favo{
    margin-top: 2%;
    height: 2rem;
    width:fit-content;
    text-indent:0;
    display:block;
    color:#000000;
    background-color: var(--main-bg-color);
    text-decoration:none;
    text-align:center;
    background-color:#AB7577;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 560;
    font-size: 1.2rem;
    padding-left: 2px;
    padding-right: 2px;
    

  }
  
  .favo :active {
    position: relative; 
    bottom: 2px;
    font-weight: 900;
  }
 
@media (max-width:420px){
    .info{
       margin-top: 200px;
       background-size: cover;
       height: auto;
       display: flex;
       flex-direction: column;
    }
    .favo{
        height: fit-content;
        width: fit-content;
    }
    .peliculas{
        display: flex;
        flex-wrap: wrap;
    }
    .imagenesD{
        height: 100px; 
    }
    .slider {
        width: 87%;
        
    }
    .video{
        display: none;
    }
    .detalles{
        width: 70%;
        padding: 20px;
        text-align: center;
    }
    .descripcion{
        text-align: justify;
       }
    .poster{
        width: 40%;
        margin-top: 20px;
    }
}




/*
COSAS PRIMERA ENTREGA

.principal{
    display: flex;
}
.trailer{
    flex-wrap: wrap;
    display: flex;
    padding-left: 3%;
    width: 100%;
    height: 80%;
    margin-top: 10%;
    justify-content: center;
}
.trailer-ctrl{
    width: 85%;
}
.info{
    margin-top: 3%;
    margin-left: 5%;
}
.descripcion{
    margin-top: 10%;
    margin-left: 5%;
}
.sinopsis{
    width: 70%;
    margin-left: 5%;
    margin-top: 2%;
}
.elenco{
    width: 70%;
    margin-left: 5%;
    margin-top: 2%;
}
.director{
    margin-left: 5%;
    margin-top: 2%;
}
.genres{
    margin-left: 5%;
    margin-top: 2%;
}
.puntu{
    margin-left: 5%;
    margin-top: 2%;
}
.greenbookImg{
    width: 45%;
    padding: 5px;
    margin-top: 50px;
    margin-left: 150px;
}
.recomendadas{
    display: flex;
    margin-top: 5%;
}
.imgRecomendadas{
    display: flex;
}
.peliculas{
    width: 100%;
    padding: 5px;
}*/



