*{
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
.imagenesD{
    height: 265px; 
    width: auto; 
}
img{
    width: 100%;
    padding: 5px;
}
.peliculas{
    display: flex;
}
.peliculas1{
    display: flex;    
}
.peliculas2{
    display: flex;
}
.peliculas3{
    display: flex;
}
.peliculas4{
    display: flex;
}
.peliculas5{
    display: flex;
}
.imagenesPeli{
    padding: 3px;   
}
.peliCompleto{
    margin-top: 2%;
}
.banners2{
    width: 75%;
}
.slider {
    width: 95%;
    
}
.gif{
    width: 60%;
    display: block;
    margin: auto;
    overflow: hidden;
}
.gif ul{
    margin-top: 10%;
    display: flex;
    padding: 0;
    width: 100%;
    animation: none;
}
.gif li{
    width: 100%;
    list-style: none;
}


@media (max-width:420px){
    .gif{
        margin-top: 27%;
        width: 80%;
    }
    .peliculas{
        display: flex;
        flex-wrap: wrap;
    }
    .peliculas1{
        display: none;
    }
    .imagenesPeli{
        width: 50%;
    }
    .imagenesPeli1{
        display: none;
    }
    .imagenesD{
        height: 100px; 
    }
    .slider {
        width: 87%;
        
    }
}
