img{
    width: 100%;

}
.peliculas{
    display: flex;

}
.peliculas1{
    display: flex;
    
}
.imagenesPeli{
    padding: 3px;
    
}
.peliCompleto{
    margin-top: 2%;

}
.banners2{
    width: 75%;
}
.slider{
    width: 60%;
    display: block;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    margin-top: 10%;
    display: flex;
    padding: 0;
    width: 100%;
    animation: none;
}
.slider li{
    width: 100%;
    list-style: none;
}


@media (max-width:420px){
    .slider{
        margin-top: 33%;
    }
    .peliculas{
        display: flex;
        flex-wrap: wrap;

    }
    .peliculas1{
        display: none;

    }
    .imagenesPeli{
        width: 50%;

    }
    .imagenesPeli1{
        display: none;
        
    }
}
