* {
    border-radius: 3px;
}
img{
    width: 100%;
}
.principal{
    display: flex;
}
.trailer{
    flex-wrap: wrap;
    display: flex;
    padding-left: 3%;
    width: 100%;
    height: 80%;
    margin-top: 10%;
    justify-content: center;
}
.trailer-ctrl{
    width: 85%;
}
.info{
    margin-top: 3%;
    margin-left: 5%;
}
.descripcion{
    margin-top: 3%;
    margin-left: 5%;
}
.sinopsis{
    width: 70%;
    margin-left: 5%;
    margin-top: 2%;
}
.elenco{
    width: 70%;
    margin-left: 5%;
    margin-top: 2%;
}
.director{
    margin-left: 5%;
    margin-top: 2%;
}
.genres{
    margin-left: 5%;
    margin-top: 2%;
}
.puntu{
    margin-left: 5%;
    margin-top: 2%;
}
.greenbookImg{
    width: 45%;
    padding: 5px;
    margin-top: 50px;
    margin-left: 150px;
}
.recomendadas{
    display: flex;
    margin-top: 5%;
}
.imgRecomendadas{
    display: flex;
}
.peliculas{
    width: 100%;
    padding: 5px;
}