img{
    width: 100%;

}
.peliculas{
    display: flex;

}
.peliculas1{
    display: flex;
    
}
.imagenesPeli{
    padding: 3px;
    
}
.peliCompleto{
    margin-top: 2%;

}
.banners2{
    width: 75%;
}
.slider{
    width: 95%;
    display: block;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: cambio 25s infinite;
}
.slider li{
    width: 100%;
    list-style: none;
}
@keyframes cambio {
    0% {margin-left: 0; }
    15% { margin-left: 0;}

    20% { margin-left: -100%;}
    35% { margin-left: -100%;}

}

@media (max-width:420px){
    .peliculas{
        display: flex;
        flex-wrap: wrap;

    }
    .peliculas1{
        display: none;

    }
    .imagenesPeli{
        width: 50%;

    }
    .imagenesPeli1{
        display: none;
        
    }
}
