*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
}
.imagenesB{
  max-height: 350px;
  min-height: 350px;
  width: auto;
  text-align: center;
  justify-content: center;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px;

}
.resultado { 
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.valores{
    width: 30px;
    color: black;

}
.oculto{
    display: none;
}
.resultadosB{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1%;

}
.rotulosS{
    margin-top: 150px;
    background-color: #d4b7b0ee;
    width: fit-content;
    padding: 15px
}


@media (max-width:420px){
    .rotulosS{
        margin-top: 10px;
        font-size: 1rem;
    }
    .footer{
        margin-top: 320px;
        

    }
    .oculto{
        margin-top: 200px;
        display: block;
    }
    .oculto .buscador{
        display: block;

    }
    .form{
        display: flex;
    
    }
    .resultadosB{
        grid-template-columns: 1fr;
    }
}