*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
}




.imagenes{
    width: 10%;
}
.valores{
    width: 30px;
    color: black;

}