.foto {
    display: flex;
    width: 100%;
    height: 30%;
    
    

}
.seriePoster {
    margin-top: 10%;
    width: 10%;
    
  
}

.imgRecomendadas {
    display: flex;
    
}
.info {
    border-style: solid;
    width: 30%;
    
    
    
}
.video {
    display: flex;
}
