*{
    border-radius: 3px;
}
.info{
    display: flex;
    flex-direction: column;
    padding: 1px;
    padding: 10px;
    justify-content: space-between;
    align-content: center;
}
.poster {
    width: 20%;
    margin-top: 100px;
}
.titulo{
    font-size: 2rem;
    text-align: center;
}
.detalles{
    display: flex;
    margin-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:  rgb(215, 194, 188);
    width: 70%;
    text-align: left;
    height: fit-content;
}
@media (max-width:420px){
    .video{
        margin-top: 45%;
    }
    .imgreco{
        display: flex;
        flex-wrap: wrap;
    }
   .capi {
       margin-left: 4%;
   }
}