*{
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

img{
    width: 100%;
}
.series{
    display: flex;
}
.series1 { 
    display: flex;
    
}
.series2 {
    display: flex;
}
.series3 {
    display: flex;
}
.series4 {
    display: flex;
}
.series5{
    display: flex;
}
.serieCompleto{
    margin-top: 2%;
}
.imagenesSerie {
    padding: 3px;
}
.slider{
    width: 45%;
    display: block;
    margin-top: 1%;
    overflow: hidden;
}
.slider ul{
    margin-top: 10%;
    display: flex;
    padding: 0;
    width: 100%;
    animation: none;
}

@media (max-width:420px){
    .slider{
        margin-top: 33%;
    }
    .imagenesSerie{
        width: 50%;
    }
    .series1{
        display: flex;
        flex-wrap: wrap;
    }
    .series2{
        display: none;
    }
    .series3{
        display: none;
    }
    .series4{
        display: none;
    }
    .imagenesSerie1{
        display: none;
    }
}