*{
    border-radius: 3px;
}
.imagenesD{
    height: 265px; 
    width: auto; 
}
.info{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(215, 194, 188);
    height: 400px;
}
.poster {
    width: 20%;
    
}
.titulo{
    font-size: 2rem;
    text-align: center;
}
.detalles{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
}
.atp{
    padding: 6px;
}
.video {
    margin-top: 50px;
    text-align: center;
    max-height: 700px;
  min-height: 700px;
  min-width: 450px;
  max-width: 450px;
}
.seriesReco {
    display: flex;
    width: 100%;
}
.slider {
    width: 95%;
    
}
.sliderItem {
    margin:10px;
}
.rotulosR{
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 20px;
}
/*boton fav*/
.favo{
    margin-top: 2%;
    height: 2rem;
    width:fit-content;
    text-indent:0;
    display:block;
    color:#000000;
    background-color: var(--main-bg-color);
    text-decoration:none;
    text-align:center;
    background-color:#AB7577;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 560;
    font-size: 1.2rem;
    padding-left: 2px;
    padding-right: 2px;
    

  }
  
  .favo :active {
    position: relative; 
    bottom: 2px;
    font-weight: 900;
  }
@media (max-width:420px){
    .video{
        width: 150px;
    }
    .imgreco{
        display: flex;
        flex-wrap: wrap;
    }
   .capi {
       margin-left: 4%;
   }
   .info{
       margin-top: 300px;
   }
   .imagenesD{
    height: 100px; 
   }
   .slider {
    width: 87%;
    
   }
}